<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/StyleSheet.css" />
    <title>Miniature Madness</title>
</head>

<body>
    @RenderBody()
</body>
</html>
